html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
button,
input,
select,
textarea {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
button:not(:disabled),
input[type=submit]:not(:disabled) {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
:disabled {
  opacity: 0.5;
}
