@import url('./base.css');

@import url('./token.css');
@import url('./voice-list.css');

@import url('./games/test.css');

.loading {
  display: none;
  animation: loading 1s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
@keyframes loading {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}
.screen-loading {
  background-color: black;
  color: white;
}
.screen-loading .loading {
  display: block;
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-checked {
  color: #7289DA;
}
.checkbox-disabled {
  opacity: 0.5;
}
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox-checked .material-icons {
  position: relative;
}
.checkbox-checked .material-icons::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: white;
  z-index: -1;
}
