@import url('./base.css');

@import url('./token.css');
@import url('./voice-list.css');

@import url('./games/test.css');

.loading {
  display: none;
  animation: loading 1s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
@keyframes loading {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}
.screen-loading {
  background-color: black;
  color: white;
}
.screen-loading .loading {
  display: block;
}
