.vc-list-wrapper {
  display: none;
  margin: 50px;
}
.screen-vc {
  background-color: #2C2F33;
  color: #99AAB5;
}
.screen-vc .vc-list-wrapper {
  display: block;
}

.vc-list-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin: 0;
  color: white;
}
.vc-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.vc-voice-channel {
  display: block;
  width: 100%;
  text-align: left;
}
