.vc-list-root {
  display: none;
  padding: 50px;
}
.screen-vc {
  display: block;
  background-color: #2C2F33;
  color: #99AAB5;
}
.screen-vc .vc-list-root {
  display: block;
}

.vc-list-heading {
  font-size: 48px;
  margin: 0;
  color: white;
}
.vc-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.vc-guild-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.vc-guild-name {
  display: flex;
  align-items: center;
  color: white;
  font-weight: normal;
  margin-bottom: 10px;
}
.vc-guild-name-span {
  width: 0;
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}
.vc-guild-icon {
  border-radius: 50%;
  flex: none;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.vc-guild-no-icon {
  background-color: rgba(0, 0, 0, 0.5);
}
.vc-voice-channel {
  display: flex;
  align-items: center;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 15px;
  margin: 0 -15px;
  border-radius: 5px;
}
.vc-voice-channel:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.vc-voice-channel-name {
  width: 0;
  flex: auto;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.vc-voice-channel-members {
  font-size: 12px;
  background-color: #7289DA;
  padding: 0 6px;
  border-radius: 50px;
  font-weight: bold;
  flex: none;
  min-width: 12px;
  text-align: center;
}
.vc-no-vc {
  font-style: italic;
  margin: 0;
  color: rgba(255, 255, 255, 0.3);
}

.member-list-channel-name {
  color: white;
}
.member-list-back-btn {
  margin-right: 10px;
}
.member-list {
  display: grid;
  list-style: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}
.member-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.member-bot {
  opacity: 0.5;
}
.member-avatar {
  border-radius: 50%;
  flex: none;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
.member-bot-badge {
  font-size: 12px;
  background-color: #7289DA;
  padding: 0 6px;
  border-radius: 2px;
  margin-left: 10px;
}
.start-btn {
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  background-color: #7289DA;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
  transition: color .2s, background-color .2s, box-shadow .2s;
}
.start-btn:hover {
  color: #7289DA;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
