html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
    'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button,
input,
select,
textarea {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
button:not(:disabled),
input[type=submit]:not(:disabled),
input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
:disabled {
  opacity: 0.5;
}

.hoverable {
  cursor: pointer;
}
.big-bold {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
    'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  font-weight: 900;
}
